
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    color: #333;
}

/*bar*/
.navbar {
    width: 100%;
    padding: 10px 50px; 
    background-color: rgba(14, 39, 74, 0.9); 
    display: flex;
    justify-content:space-between; 
    align-items:center;
}

.logo img {
    height: 60px; 
    vertical-align: middle;
}

.nav-links {
    flex-grow: 1; 
    text-align:left; 
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin: 0 15px;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9800; 
}

/* log*/
.login-btn {
    padding: 8px 15px;
    background-color: #ff9800; 
    border: none;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.login-btn:hover {
    background-color: #e07b00;
}


/*(Sky Blue Backgr*/
.hero {
    height:40vh;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    width: 100x;
    height: 50x;
}
.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #000000;
}

.hero p {
    font-size: 1.1em;
    color: #ffffff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}


.stop-section {
    margin-bottom: 40px;
    padding-top: 20px;
}

.stop-section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #343a40; 
}

.cards-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    flex: 1; 
    min-width: 300px; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
   
    border-top: 5px solid #ff7f50;
}

.card h3 {
    margin-bottom: 10px;
    color: #007bff; 
}

.visit-time {
    margin-top: 15px;
    font-weight: bold;
    color: #e66023;
    padding: 5px 0;
}

.full-width-card {
    flex: 1 1 100%;
}


.next-travel {
    background-color: #ffc107; 
    color: #333;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
/* Footer  */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 5%;
}

footer p:last-child {
    font-style: italic;
    margin-top: 10px;
    color: #FFC300;
}